{% extends "base.html" %}

{% block content %}
    <section id="about" class="about-section">
        <div class="about-container">
            <h2 class="section-title">About Me</h2>
            <p class="intro-text">Hello! I'm Rasadari Ranasinghe, a passionate data analyst with expertise in data extraction, data transformation, data visualization, statistical analysis, and data-driven storytelling. I have a background in environmental sciences and data analytics, and I specialize in transforming raw data into actionable insights.</p>

            <h3 class="subheading">Education</h3>
            <p class="education">Certificate in Data Analysis - University of Toronto, Canada (2024-2024)</p>
            <p class="education">BSc in Environmental Sciences (First-Class Honors) - University of Colombo, Sri Lanka (2018-2022)</p>

            <h3 class="subheading">Experience</h3>
            <p class="experience">Teaching Assistant, University of Colombo, Sri Lanka (2022-2023)</p>
            <p class="experience">Banking Assistant, Peoples Bank, Sri Lanka (2017-2017)</p>

            <h3 class="subheading">Skills</h3>
            <ul class="skills-list">
                <li>Data Analysis: Python, Pandas, SQL, Tableau</li>
                <li>Data Visualization: Tableau, Looker, Matplotlib, Plotly, D3.js, Leaflet</li>
                <li>Databases: MySQL, PostgreSQL, MongoDB</li>
                <li>Web Development: Flask, HTML, CSS, JavaScript</li>
                <li>Statistical Analysis: Excel, Minitab, SPSS</li>
                <li>Machine Learning (Scikit-learn)</li>
                <li>Other Tools (ArcGIS)</li>
            </ul>
        </div>
    </section>
{% endblock %}
