{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<section id="contact">
    <div class="contact-container">
        <h1>Contact Me</h1>
        <p>Email: <a href="mailto:rasadariravihari@gmail.com">rasadariravihari@gmail.com</a></p>
        <p>GitHub: <a href="https://github.com/rasadariranasinghe?tab=repositories" target="_blank">GitHub Profile</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/rasadari-ranasinghe-815486254/" target="_blank">LinkedIn Profile</a></p>
    </div>
</section>
{% endblock %}
